.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {
    background-color: rgba(0, 255, 255, 0.395);
    padding: 100px;
    border-radius: 10px;
}
