@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
h1 {
    color: aqua
}
input {
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 20px;
    background-color: black;
    color: aqua;
    border-radius: 10px;
    margin: 5px;
    width: 150px;
    height: 25px;
}
button {
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(7, 7, 7, 0.434);
    color: aqua;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
}